<!-- 手機版選單 -->
<a href="#cd-nav" class="cd-nav-trigger js-cd-nav-trigger text--replace is-desktop-hide" title="Menu"> 
    <span class="cd-nav-trigger__icon" aria-hidden="true"></span>
    <svg viewBox="0 0 54 54" aria-hidden="true">
        <circle fill="transparent" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
    </svg>
</a>

<div id="cd-nav" class="cd-nav">
    <div class="cd-nav__content">
        <div class="container container--sm">
            <h2 class="cd-nav__title">風傳媒好好退休論壇<br>2021 STORM FORUM</h2>
            <div class="grid-full">
                <div class="grid6">
                    <nav class="nav">
                        <ul class="cd-nav__primary">
                            <li><a href="index.html" class="cd-nav__link cd-nav__link-selected link"><strong>HOME</strong><small>首頁</small></a></li>
                            <li><a href="index.html#about" class="cd-nav__link link"><strong>ABOUT</strong><small>關於論壇</small></a></li>
                            <li><a href="index.html#speaker" class="cd-nav__link cd-nav__link-selected link"><strong>SPEAKER</strong><small>講者介紹</small></a></li>
                            <li><a href="index.html#agenda" class="cd-nav__link link"><strong>AGENDA</strong><small>論壇議程</small></a></li>
                            <li><a href="index.html#tricket" class="cd-nav__link link"><strong>TICKET</strong><small>售票資訊</small></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="grid6">
                    <address>
                        <ul class="cd-nav__contact">
                            <li>2021-11-26 台北晶華酒店 - 限額入場</li>
                        </ul>
                    </address>
                    <a href="https://www.accupass.com/event/2110280926181699692249">立即購票</a>
                </div>
            </div>
            <div  class="socialshare clear is-bottom">
                <div class="facebook">
                    <a href="http://www.facebook.com/share.php?u=網址" target="_blank"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 430.113 430.114" xml:space="preserve" enable-background="new 0 0 430.113 430.114"><g class="nc-icon-wrapper" fill="#000"><path id="Facebook" d="M158.081 83.3v59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805s5.601-34.721 8.316-72.685H247.54V92.74c0-7.4 9.717-17.354 19.321-17.354h48.557V.001h-66.021C155.878-.004 158.081 72.48 158.081 83.3z"/></g></svg></a>
                </div>
                <div class="line">
                    <a href="javascript: void(window.open(&apos;https://lineit.line.me/share/ui?url=&apos; .concat(encodeURIComponent(location.href)) ));" title="分享給 LINE 好友"><img src="./assets/images/svg/line-logo.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>