.cd-main {
    overflow: hidden;
}

.cd-main__content {
    position: relative;
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
}

.nav-is-open .cd-main__content {
    transform: translateX(100%);
}

.js {
    .cd-nav {
        color: white;
        position: fixed;
        z-index: 49;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        background-color: $purple;
        visibility: hidden;
        transition: visibility 0.7s;

        a {
            color: white;
            text-decoration: none;
        }
        
        .socialshare {
            display: flex;
            margin-top: 2.5rem;
            > div {
                margin: 0 1rem 0 0;
            }
            a {
                background: white;
                border-radius: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
            }
            img {
                width: 22px;
            }
        }
    }

    .cd-nav__title {
        font-size: var(--text-xs);
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        position: relative;
        letter-spacing: 0.15em;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 60px;
            background-color: currentColor;
        }
        
        img {
            display: inline-block;
        }
    }

    .nav-is-open .cd-nav {
        visibility: visible;
    }

    .cd-nav__content { // all navigation content
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: var(--space-lg) 0 var(--space-lg) 80px;
        will-change: transform;  
        transform: translateX(-50%);
        transition: transform 0.7s cubic-bezier(.86,.01,.77,.78);

        @include mobile {
            padding-left: 0;
        }

    //    @include breakpoint(lg) {
    //      .container {
    //        max-width: 840px;
    //      }
    //    }
    }

    .nav-is-open .cd-nav__content {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(.82,.01,.77,.78);
    }
    
    .container--sm {
//        width: calc(100% - 5rem);
        width: 80%;
        max-width: 1000px;
        margin: 4rem 0 0 20%;
    }
    .cd-nav__primary {
        font-size: $size-4;
        letter-spacing: 2px;
        li {
            line-height: 1.5;
            margin-top: 1rem;
//            margin-bottom: var(--space-md);
            > a {
                display: inline-block;
            }
            strong {
                font-family: $title-font;
                font-size: $size-3;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: .5rem;
                    right: -2.25rem;
                    width: 2rem;
                    height: 1px;
                    background-color: white;
                }
            }
            small {
                font-size: $size-6;
                margin-left: 2.5rem;
            }
        }
    }

    .cd-nav__link {
        font-size: var(--text-lg);
        color: white;

        @include desktop {
            font-size: var(--text-xxl);
        }
    }

    .cd-nav__link:hover, .cd-nav__link-selected {
        color: var(--color-white);
    }

    .cd-nav__contact {
        margin-top: var(--space-xl);

    li {
        margin-bottom: var(--space-md);
        color: white;
    }

    a {
        color: var(--color-white);
    }

        @include tablet {
          text-align: right;
        }
    
        @include tablet {
          margin-top: calc(var(--space-xl) + 20px);
        }
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        .cd-nav__title {
            img {
                width: 100%;
            }
        }
        .container--sm {
            margin: 6rem auto 0;
            .is-flexbox {
                flex-flow: wrap;
                padding-bottom: 4em;
                .grid6 {
                    width: 100%;
                    &:first-child {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

// button

.cd-nav-trigger {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    right: .5rem;
    height: 54px;
    width: 54px;
//    background-color: $red;
//    border-radius: 50%;
    transition: transform 0.5s;
    &:after {
        content: "MENU";
        position: absolute;
        top: 38%;
        left: -36px;
        font-size: 12px;
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        color: $brown;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &:after {
            color: $brown;
        }
        .cd-nav-trigger__icon {
            background-color: $brown;
            &::before, &:after {
                background-color: $brown;
            }
        }
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        display: block;
        &:after {
            content: none;
        }
    }
}

.cd-nav-trigger__icon { // menu icon created in CSS
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 11px);
    width: 28px;
    height: 2px;
    background-color: $brown;
    transition: transform 0.3s;

    &::before, &:after { // upper and lower lines of the menu icon
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; 
        background-color: inherit;

//        will-change: transform, width, top;
        backface-visibility: hidden;
        transition: transform 0.5s, width 0.5s, top .3s;
    }
    &::before {
        transform-origin: right top;
        transform: translateY(-8px);
    }

    &::after {
        transform-origin: right bottom;
        transform: translateY(8px);
    }
}

.nav-is-open {
    .cd-nav-trigger {
        &:after {
            content: "CLOSE";
            color: white;
//            transform: rotate(-180deg);
//            left: -36px;
//            right: inherit;
        }
    }
    
    .cd-nav-trigger__icon {
        background-color: white;
        transform: rotate(180deg);
    }
    .cd-nav-trigger__icon::before, .cd-nav-trigger__icon::after { // animate arrow --> from menu to arrow
        background-color: white;
        width: 50%;
    }
    .cd-nav-trigger__icon::before {
        transform: rotate(45deg);
    }
    .cd-nav-trigger__icon::after {
        transform: rotate(-45deg);
    }
    .cd-nav-trigger:hover .cd-nav-trigger__icon::before,
    .cd-nav-trigger:hover .cd-nav-trigger__icon::after {
        top: 0;
    }
}